.outer {
    display: flex;                                              //FIX
}
.container {
    margin: auto;
    background-image: original.png;
}
* {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    box-sizing: border-box;
}
h1 {
     text-transform: uppercase;
     text-shadow: 2px 2px 2px red;
     text-align: center;
}
table {
    border: 1px solid black;
    border-radius: 5px;
    background-color: grey;
}
th {
    text-shadow: 2px 2px 2px red;
    width: 200px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: 1px solid black;
}
td {
    text-align: center;
}
button {
    height: 0;
}
#new {
    margin: 0 auto;
}