body {
    background-image: url('original.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.outer {
    display: flex;                                              //FIX
}
.container {
    margin: auto;
}
* {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    box-sizing: border-box;
}
h1 {
     text-transform: uppercase;
     text-shadow: 2px 2px 2px red;
     text-align: center;
}
table {
    border: 1px solid black;
    border-radius: 5px;
    background-color: grey;
}
th {
    text-shadow: 2px 2px 2px red;
    width: 200px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: 1px solid black;
}
td {
    text-align: center;
    height: 50px;
}
button {
    height: 0;
}
#new {
    margin: 30px auto;
}
#popup {
    
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    padding-right: 25px;
    margin-top: 30px;
    background-color: rgba(111, 111, 111, 0.5);
    display: none;
}
form div {
    height: 50px;
}
form input {
    width: 300px;
    display: inline-block;
    margin-left: 10px;
    height: 35px;
    vertical-align: middle;
}
form p {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
}
#send {
    margin-top: 20px;
    margin-left: 100px;
}