doctype html
html
    include head.jade
    body
        .outer
            .container                                  
                //- FLEX
                h1 zombie database
                table
                    tr
                        th Name
                        th Surname
                        th Age
                        th Action
                    each user in users
                        tr
                            td= user.name
                            td= user.surname
                            td= user.age
                            td
                                button#add Add             
                                // go out
                                button#del Delete
                button#new Create